__pycache__
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.git
.gitignore
.env
**/raw/
**/*.parquet
**/*.feather
**/*.zip
**/*.gz
**/*.tar
**/*.tar.gz
**/*.7z

.git
.gitignore
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
.dist/
build/
reports/
mlruns/
*.zip
.DS_Store
Thumbs.db
